*.pyc
*.swo
*.swp
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
build/
dist/
pip-wheel-metadata/
.tox/
docs/source/apidoc/
# ignore files and sub dirs in the notebooks directory
notebooks/*
# but do not ignore the *.ipynb files
!/notebooks/*.ipynb
