name: Publish on PyPI

on:
  push:
    tags:
      # After vMajor.Minor.Patch _anything_ is allowed (without "/") !
      - v[0-9]+.[0-9]+.[0-9]+*

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'PSDI-Biomolecular-team/aiida-gromacs' && startsWith(github.ref, 'refs/tags/v')

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.11.6
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.6

    - name: Set __VERSION__ to the GH tag
      env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          tag: ${{ github.ref_name }}
      run: |
        sed -i "s/__version__ =.*/__version__ = \"${tag}\"/g" aiida_gromacs/__init__.py

    - name: Install flit
      run: |
        python -m pip install --upgrade pip
        python -m pip install flit~=3.9

    - name: Build and publish
      run: |
        flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD:  ${{ secrets.pypi_token }}
